<h1>Features</h1>
<p style="display: flex; align-items: center;">
    Repositorio: <a href="https://github.com/jvarahuayta/angular-examples" target="_blank">
        <img src="./assets/images/github-icon.png" alt="" width="30" style="display: block;">
    </a>
</p>
<hr>
<ul>
    <li>
        <a routerLink="/akita-store-pagination">Demo paginación con Akita</a>
    </li>
    <li>
        <a routerLink="/nice-pagination">Demo de paginador</a>
    </li>
    <li>
        <a routerLink="/url-to-file">Demo URL a File</a>
    </li>
    <li>
        <a routerLink="/graphql">Demo URL a Graphql</a>
    </li>
</ul>